EXPO_PUBLIC_SUPABASE_URL=https://umwqlcfctxatfuozbkpp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1_SguOok0pWDikcO_JoOiA_PpPDGt9d
EXPO_PUBLIC_AI_PROVIDER=local
EXPO_PUBLIC_AI_API_KEY=
EXPO_PUBLIC_AI_MODEL=gpt-4o-mini
